.header {
  background-color: red;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navigation {
  flex: 1;
  background-color: aqua;
  display: flex;
  align-items: center;
}

@media (max-width: 875px) {
  .navigation {
    position: fixed;
    inset: 0 50% 0 0;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: start;
    gap: var(--gap, 1.25rem);
    z-index: 999;
    padding-top: 2.25rem;
    padding-left: 1rem;
    box-shadow: 10px 4px 5px 0px rgba(235, 224, 224, 0.75);
    -webkit-box-shadow: 10px 4px 5px 0px rgba(235, 224, 224, 0.75);
    -moz-box-shadow: 10px 4px 5px 0px rgba(235, 224, 224, 0.75);
    background-color: bisque;
  }
}

@media (max-width: 320px) {
  .navigation {
    inset: 0 30% 0 0;
  }
}
