.primary-navigation__container {
  flex: 1;
}

.primary-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap, 1.25rem);
}

.primary-navigation__item {
  list-style-type: none;
}



.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

@media (max-width: 875px) {
  .primary-navigation {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

/* @media (min-width: 875px) {
  .mobile-nav-toggle {
    display: none;
  }
} */

/* @media (max-width: 768px) {
  .navigation {
    position: fixed;
    inset: 0 30% 0 0;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: start;
    gap: var(--gap, 1.25rem);
    z-index: 999;
    padding-top: 2.25rem;
    padding-left: 1rem;
    box-shadow: 10px 4px 5px 0px rgba(235, 224, 224, 0.75);
    -webkit-box-shadow: 10px 4px 5px 0px rgba(235, 224, 224, 0.75);
    -moz-box-shadow: 10px 4px 5px 0px rgba(235, 224, 224, 0.75);
    background-color: bisque;
  }
} */
